p{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: rgb(171, 129, 240); font-weight: bold;}
    
    body{ background-color: lightblue; background-image: url('../assets/img/snowy mountains.jpg');
        background-repeat: no-repeat;}
    
    h1{font-family: sans-serif; }
    
    h2{text-align: center}
    
    .div1 {
        background-color: rgb(88, 88, 105); 
        height: 30px;
        width: 1000px;color: antiquewhite;}
         
    .div2 {
        font-weight: bold;}
         
    .div3 {
        background-color: white; 
        height: 105px;
        width: 200px;
    color: aqua;}
    
    .div4 {
        background-color: white; 
        height: 225px;
        width: 1000px;;}
    
    
        video.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
       .header {
      padding: 60px;
      text-align: center;
      background: #6c98f7;
      color: white;
      font-size: 30px;
    }